body {
  background: #E5E6F0;
  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}

.header {
  height: 60px;
  width: 100%;
  background: #4088e7;
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
  display: flex;
  justify-content: last baseline;
  align-items: center;
  position: fixed;
  top:0;
  left: 0;
  z-index: 5;
}

.titleHeader {
  margin-left: 15px;
}

.bodyPage {
  margin-left: 10%;
  margin-right: 10%;

}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.searchContainer .groupBar {
  display: flex;
} 

.search {
  width: 500px;
  height: 40px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
}

.searchButton {
  width: 150px;
  height: 40px;
  background: #4088e7;
  border: 0;
  border-radius: 8px;
  color: #FFF;
  font-weight: 700;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  transition: filter 0.2s;
  margin-left: 5px;
}

.acaoContainer {
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 32px auto;
}

.acaoContainer ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  list-style: none;
}

li.acaoBox {
  background: #FFF;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  padding: 20px;
  list-style: none;
  width: 100%;
  position: relative;
}

li.acaoBox header {
  display: flex;
  flex-direction: row;
  align-items: center;
}


li.acaoBox header .acaoInfo {
  margin-left: 10px;
}

.acaoInfo strong {
  display: block;
  font-size: 16px;
  color: #333;
}

.acaoInfo span {
  font-size: 13px;
  color: #999;
  margin-top: 2px;
}

.acaoContainer ul li button {
  position: absolute;
  right: 24px;
  top: 24px;
  border: 0;
  background: rgb(255, 255, 255);
}

.projecaoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  border-radius: 14px;
  margin-left: 17%;
  margin-right: 17%;

}

.projecaoContainer .container1 {
  margin-left: 25px;
  margin-right: 15%;

}

.projecaoContainer .container2 {
  margin-left: 15px;
  
}

.projecaoContainer form {
  margin-top: 30px;
  margin-bottom: 30px;
}

.projecaoContainer form .input-block + .input-block {
  margin-top: 20px;
}

.projecaoContainer form .input-group {
  margin-top: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.projecaoContainer form .input-group .input-block {
  margin-top: 0;
}

.projecaoContainer form .input-block label {
  color: #ACACAC;
  font-size: 14px;
  font-weight: bold;
  display: block;
}

.projecaoContainer form .input-block input {
  width: 100%;
  height: 32px;
  font-size: 14px;
  color: #666;
  border: 0;
  border-bottom: 1px solid #eee;
}

.projecaoContainer form button[type=submit] {
  width: 100%;
  border: 0;
  margin-top: 30px;
  background: #4088e7;
  border-radius: 2px;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: background 0.5s;
}

.projecaoContainer form button[type=submit]:hover {
  background: #6931ca;
}

.projecaoContainer .container2 div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 35px;
}

.projecaoContainer .container2 div p + p {
  margin-left: 5px;
}

.projecaoContainer .container2 div p {
  font-size: 20px;
}


.historicoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  margin-top: 30px;
  margin-left: 17%;
  margin-right: 17%;

}

.historicoContainer .historicoBox {
  margin-top: 25px;
}

.historicoBox form .input-group {
  margin-top: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 25px;
}

.historicoBox form .input-group .input-block {
  margin-top: 0;
}

.historicoBox form .input-block label {
  color: #ACACAC;
  font-size: 14px;
  font-weight: bold;
}

.historicoBox form .input-block input {
  width: 100%;
  height: 32px;
  font-size: 14px;
  color: #666;
  border: 0;
  border-bottom: 1px solid #eee;
}

.historicoBox form button[type=submit] {
  width: 100%;
  border: 0;
  background: #4088e7;
  border-radius: 2px;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: background 0.5s;
}

.historicoBox form button[type=submit]:hover {
  background: #6931ca;
}

.historicoBox form .title {
  justify-content: center;
}

.resultTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  margin-left: 17%;
  margin-right: 17%;
  padding-bottom: 10px;
}

.resultTop .first {
  margin-left: 25px;
}

.resultTop .last {
  margin-right: 25px;
}


.resultBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  border-radius: 14px;
  margin-left: 17%;
  margin-right: 17%;
  margin-top: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.resultBox .first {
  margin-left: 25px;
}

.resultBox .last {
  margin-right: 25px;
}